body{
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#form-container{
    background-color: white;
    padding: 50px;
    text-align: center;
}
h2{
    margin: 0px 0px 10px 0px;
}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
input[type="submit"]{
    width: 222px;
    background-color: #3498db;
    border: 0px;
    color: white;
}
.error{
    color: red;
    margin: 0px;
    text-align: left;
}